<h1>Sign Up</h1>

<%= form_for @user do |f| %>
<%= render('/layout/errors', :object => @user) %>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div><%= f.submit "Sign Up" %></div>
<% end %>
