<% content_for(:title, "#{@product.name} | Amazon") %>

<h1><%= @product.name %></h1>

<h3><%= number_to_currency(@product.price, :unit => '$') %></h3>

<p><%= @product.desc %></p>

<%= link_to "edit", edit_product_path(@product), class: 'tiny round button' %>

<%= button_to "delete", {id: @product.id}, {method: :delete, class: 'tiny round alert button'} %>
